@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,400;1,300;1,600&display=swap');

body {
  margin: 0;
  font-family: 'Shantell Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Rectangle 1 */
  /* border: 1px solid #000000; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}